{% extends "admin/base_site.html" %}
{% load i18n static inline_select columns header panel update_button table download_viz_file_button %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
  {% trans "Modelo de fuerza" as title %}
  {% header title scene.name %}

  {% inline_select "Gráfico:" "chartFilter" charts as chart_select %}
  {% columns 2 2 12 chart_select as col1 %}

  {% update_button "btnUpdateChart" "Actualizar datos" as update_button %}
  {% columns 12 12 12 update_button as col2 %}

  {% panel "fa-filter" "Filtro" col1|add:col2 %}
</div>
</div>

<div class="row">
    {% with barChart='<div id="chart" style="height:400px;"></div>' %}
        {% panel "fa-bar-chart" "Consumo de potencia" barChart as chart_panel %}

        {% download_viz_file_button execution_obj as download_button %}
        {% panel "" "" download_button as download_panel %}

        {% columns 9 9 12 chart_panel %}
        {% columns 3 3 12 download_panel %}
    {% endwith %}
</div>
{% endblock %}

{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
  <script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>
  <script src="{% static "js/echartsTheme.js" %}"></script>
  <script src="{% static "components/spin.js/spin.min.js" %}"></script>
  <script src="{% static "js/user.notification.js" %}"></script>
  <script src="{% static "js/spinConfig.js" %}"></script>
  <script src="{% static "js/energy.js" %}"></script>
{% endblock %}
