{% extends "admin/base_site.html" %}
{% load i18n static inline_select columns header panel update_button %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
{% endblock %}

{% block content %}
<div id="content-main" class="col-md-12 col-sm-12 col-xs-12">
  {% trans "Modelo de velocidad" as title %}
  {% header title scene.name %}

  {% inline_select "Línea:" "lineFilter" metro_lines as line_select %}
  {% columns 2 2 12 line_select as col1 %}

  {% inline_select "Estación de origen:" "originStationFilter" metro_stations as station_origin_select %}
  {% columns 2 2 12 station_origin_select as col2 %}

  {% inline_select "Estación de destino:" "destinationStationFilter" metro_stations2 as station_destination_select %}
  {% columns 2 2 12 station_destination_select as col3 %}

  {% inline_select "Período de operación:" "operationPeriodFilter" op_periods as operation_hour_select %}
  {% columns 3 3 12 operation_hour_select as col4 %}

  {% inline_select "Tipo de gráfico:" "chartTypeFilter" chart_type as chart_type_select %}
  {% columns 3 3 12 chart_type_select as col5 %}

  {% update_button "btnUpdateChart" "Actualizar datos" as update_button %}
  {% columns 12 12 12 update_button as col6 %}

  {% panel "fa-filter" "Filtro" col1|add:col2|add:col3|add:col4|add:col5|add:col6 %}
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% with barChart='<div id="chart" style="height:600px;"></div>' %}
            {% columns 12 12 12 barChart as col6 %}
            {% panel "fa-bar-chart" "Curva de velocidad <small></small>" col6 %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
  <script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>
  <script src="{% static "js/echartsTheme.js" %}"></script>
  <script src="{% static "components/spin.js/spin.min.js" %}"></script>
  <script src="{% static "js/user.notification.js" %}"></script>
  <script src="{% static "js/spinConfig.js" %}"></script>
  <script src="{% static "js/speed.js" %}"></script>
{% endblock %}
