{% extends "admin/base_site.html" %}
{% load i18n static inline_select columns header panel update_button table download_viz_file_button %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
  {% trans "Strong model" as title %}
  {% header title scene.name %}

  {% trans "Line:" as line_label %}
  {% inline_select line_label "lineFilter" metro_lines as line_select %}
  {% columns 2 2 12 line_select as col1 %}

  {% trans "Direction:" as direction_label %}
  {% inline_select direction_label "directionFilter" directions as direction_select %}
  {% columns 2 2 12 direction_select as col2 %}

  {% trans "Operation period:" as operation_period_label %}
  {% inline_select operation_period_label "operationPeriodFilter" op_periods as operation_period_select %}
  {% columns 3 3 12 operation_period_select as col3 %}

  {% trans "Update data" as label_button %}
  {% update_button "btnUpdateChart" label_button as update_button %}
  {% columns 12 12 12 update_button as col4 %}

  {% trans "Filter" as panel_title %}
  {% panel "fa-filter" panel_title col1|add:col2|add:col3|add:col4 %}
</div>
</div>

<div class="row">
    {% with barChart='<div id="chart" style="height:400px;"></div>' %}
        {% trans "Power consumption" as panel_title %}
        {% panel "fa-bar-chart" panel_title barChart as chart_panel %}

        {% download_viz_file_button execution_obj as download_button %}
        {% panel "" "" download_button as download_panel %}

        {% columns 9 9 12 chart_panel %}
        {% columns 3 3 12 download_panel %}
    {% endwith %}
</div>
{% endblock %}

{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
  <script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>
  <script src="{% static "js/echartsTheme.js" %}"></script>
  <script src="{% static "components/spin.js/spin.min.js" %}"></script>
  <script src="{% static "js/user.notification.js" %}"></script>
  <script src="{% static "js/spinConfig.js" %}"></script>
  <script src="{% static "js/strong.js" %}"></script>
{% endblock %}
