{% load humanize download_scene_file_button i18n read_only_field %}
   {% download_scene_file_button step_id=5 scene=scene %}
 <div class="panel panel-default">
   <!-- Default panel contents -->
   <div class="panel-heading">{% trans "Variables globales" %}</div>
   <div class="panel-body">
       <div class="col-md-6 col-sm-6 col-sx-12">
           {% trans "Masa promedio de pasajero" as label %}
           {% read_only_field label data.operation.averageMassOfAPassanger|intcomma "Kg" %}
       </div>
       <div class="col-md-6 col-sm-6 col-sx-12">
           {% trans "Temperatura anual promedio" as label %}
           {% read_only_field label data.operation.annualTemperatureAverage|intcomma "°C" %}
       </div>
   </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">{% trans "Períodos" %}</div>
   <!-- Table -->
   <table class="table table-striped">
     <thead>
       <tr>
         <th>#</th>
         <th>{% trans "Name" %}</th>
         <th>{% trans "Start" %}</th>
         <th>{% trans "End" %}</th>
         <th>{% trans "Temperature" %}</th>
         <th>{% trans "Humidity" %}</th>
         <th>{% trans "CO<sub>2</sub> Concentration" %}</th>
         <th>{% trans "Solar radiation" %}</th>
         <th>{% trans "Sun elevation angle" %}</th>
       </tr>
     </thead>
     <tbody>
       {% for period in data.operation.periods %}
       <tr>
         <th scope="row">{{ forloop.counter }}</th>
         <td>{{ period.name }}</td>
         <td>{{ period.start }}</td>
         <td>{{ period.end }}</td>
         <td>{{ period.temperature|intcomma }}</td>
         <td>{{ period.humidity|intcomma }}</td>
         <td>{{ period.co2Concentration|intcomma }}</td>
         <td>{{ period.solarRadiation|intcomma }}</td>
         <td>{{ period.sunElevationAngle|intcomma }}</td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
 </div>