{% load i18n %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="row x_title">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h2>{% trans "Modelos" %}</h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="btn btn-info btn-lg btn-block" disabled>
              <i class="fa fa-play fa-3x"></i>
              <br><h1>{% trans "Velocidad" %}</h1>
            </button>
            <button class="btn btn-success btn-block" disabled>
              <h2><i class="fa fa-eye fa-lg"></i> {% trans "Resultados" %}</h2>
            </button>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="btn btn-info btn-lg btn-block">
              <i class="fa fa-play fa-3x"></i>
              <br><h1>{% trans "Fuerza" %}</h1>
            </button>
            <button class="btn btn-success btn-block">
              <h2><i class="fa fa-eye fa-lg"></i> {% trans "Resultados" %}</h2>
            </button>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="btn btn-info btn-lg btn-block">
              <i class="fa fa-play fa-3x"></i>
              <br><h1>{% trans "Temperatura" %}</h1>
            </button>
            <button class="btn btn-success btn-block">
              <h2><i class="fa fa-eye fa-lg"></i> {% trans "Resultados" %}</h2>
            </button>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="btn btn-danger btn-lg btn-block">
              <span class="fa-stack fa-2x">
                <i class="fa fa-stop fa-stack-1x"></i>
                <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
              </span>
              <br><h2>Detener</h2>
            </button>
            <button class="btn btn-success btn-block" disabled>
              <h2><i class="fa fa-eye fa-lg"></i> {% trans "Resultados" %}</h2>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>