{% load i18n model_button %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="row x_title">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h2>{% trans "Modelos" %}</h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                {% model_button "Velocidad" 3 "disabled" %}
                {% model_button "Fuerza" 3 %}
                {% model_button "Temperatura" 3 %}
                {% model_button "Energía" 3 "running" %}
            </div>
        </div>
      </div>
    </div>
  </div>