{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify join_by_attr join_by_attr_arrow print_connection_description %}
{% load read_only_field download_scene_file_button %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
{% endblock %}

{% block content %}
<div id="content-main" class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
        <h1><span data-bind="text: name">{{ scene.name }}</span>
        <span class="dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a data-bind="click: openForm"><i class="fa fa-header" aria-hidden="true"></i> {% trans "Cambiar nombre" %}</a></li>
            <li><a data-bind="click: showDeleteDialog"><i class="fa fa-trash" aria-hidden="true"></i> {% trans "Eliminar" %}</a></li>
          </ul>
        </span>
      </h1>
    </div>
    <div class="title_right">
    </div>
  </div>
{% include "scene/scenePanel_models.html" %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{% trans "Estado" %}: {{ status_label }} <small></small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-sx-12">
              <div class="progress">
                <div class="progress-bar progress-bar-{% if scene.currentStep < 6 %}danger{% else %}success{% endif %}"
                   data-transitiongoal="{{ barWidth }}">{{ status_label }}
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-sx-12">
      <a href="{% url 'scene:wizard' sceneId=scene.id %}"type="button" class="pull-right btn btn-success btn-xs btn-block">
        <i class="fa fa-edit" aria-hidden="true"></i> {% trans "Editar escenario" %}
      </a>
            </div>
          </div>

          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active"><a href="#tab_content1" id="tab1" role="tab" data-toggle="tab" aria-expanded="true">{% trans "Topología" %}</a>
              </li>
              <li role="presentation" class=""><a href="#tab_content2" role="tab" id="tab2" data-toggle="tab" aria-expanded="false">{% trans "Sistémico" %}</a>
              </li>
              <li role="presentation" class=""><a href="#tab_content3" role="tab" id="tab3" data-toggle="tab" aria-expanded="false">{% trans "Operación" %}</a>
               </li>
              <li role="presentation" class=""><a href="#tab_content4" role="tab" id="tab4" data-toggle="tab" aria-expanded="false">{% trans "Velocidad" %}</a>
               </li>
             </ul>

             <div id="myTabContent" class="tab-content">
               <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                 {% include "scene/scenePanel_topology.html" %}
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                 {% include "scene/scenePanel_energySystem.html" %}
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                 {% include "scene/scenePanel_operation.html" %}
               </div>
               <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                   {% download_scene_file_button stepId=6 scene=scene %}
               </div>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>

    <!-- modal to change scene name -->
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showChangeNameDialog">
      <div class="modal-dialog">
        <div class="modal-content" data-bind="with: changeNameFormLogic">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Cambiar nombre de escenario" %}</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal form-label-left">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% trans "Nombre" %}</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" data-bind="value: name">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bind="click : $root.changeName" autofocus>{% trans "Cambiar nombre" %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal to delete scene -->
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showDeleteDialog">
      <div class="modal-dialog">
        <div class="modal-content" data-bind="with: changeNameFormLogic">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Eliminar Escenario" %}</h4>
          </div>
          <div class="modal-body">
              {% trans "¿Está seguro que desea eliminar el escenario?" %}<br />
              <span class="text-danger">{% trans "RECUERDE QUE ESTA OPERACIÓN ES IRREVERSIBLE." %}</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bind="click : $root.delete">{% trans "Eliminar" %}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancelar" %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal to run model -->
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showRunModelDialog">
      <div class="modal-dialog">
        <div class="modal-content" data-bind="with: model">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Ejecutar modelo de <span class="lead" data-bind="text: name"></span></h4>
          </div>
          <div class="modal-body">
              <p>Cuando presione el botón "ejecutar" comenzará la ejecución del modelo de <span data-bind="text: name"></span>.</p>
              <p class="text-info" data-bind="if: follow().length">SI DESEA CONCATENAR LA EJECUCIÓN DE OTROS MODELOS POR FAVOR MÁRQUELOS.</p>
              <ul data-bind="foreach: follow">
                <li><label>
                  <input type="checkbox" data-bind="checked: checked" /> <span data-bind="text: name"></span>
                </label></li>
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bind="click : $root.modelRun">Ejecutar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal to stop model -->
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showStopModelDialog">
      <div class="modal-dialog">
        <div class="modal-content" data-bind="with: model">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detener modelo de <span class="lead" data-bind="text: name"></span></h4>
          </div>
          <div class="modal-body">
              <p>A continuación se detendrá la ejecución del modelo de <span data-bind="text: name"></span> y sus modelos en cola.</p>
              <p>¿está seguro?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bind="click : $root.modelStop">Si, estoy seguro</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
  <script src="{% static "components/knockout/dist/knockout.debug.js" %}"></script>
  <script src="{% static "components/js-cookie/src/js.cookie.js" %}"></script>
  <script src="{% static "components/spin.js/spin.min.js" %}"></script>
  <script src="{% static "js/knockout.components.js" %}"></script>
  <script src="{% static "js/user.notification.js" %}"></script>
  <script src="{% static "js/spinConfig.js" %}"></script>
  <script src="{% static "js/scenePanel.js" %}"></script>
  <script>

  </script>
{% endblock %}
