{% load i18n %}
<ul>
  <li>
    <a href="#step-1">
      <i class="fa fa-pencil fa-lg fa-2x"></i><br />
      <small>{% trans "Topologic variables" %}</small>
    </a>
  </li>
  <li>
    <a href="#step-2">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i><br />
      <small>{% trans "Topologic file" %}</small>
    </a>
  </li>
  <li>
    <a href="#step-3">
      <i class="fa fa-pencil fa-lg fa-2x"></i><br />
      <small>{% trans "Systemic variables" %}</small>
    </a>
  </li>
  <li>
    <a href="#step-4">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i><br />
      <small>{% trans "Systemic file" %}</small>
    </a>
  </li>
  <li>
    <a href="#step-5">
      <i class="fa fa-pencil fa-lg fa-2x"></i><br />
      <small>{% trans "Operation variables" %}</small>
    </a>
  </li>
  <li>
    <a href="#step-6">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i><br />
      <small>{% trans "Operation file" %}</small>
    </a>
  </li>
  <li>
    <a href="#step-7">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i> (Opcional)<br />
      <small>{% trans "Speed file" %}</small>
    </a>
  </li>
</ul>
