<br />
<!--
<div class="x_panel">
  <div class="x_title">
    <h2>Variables sistemicas globales</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
  </div>
</div>
-->

<div class="form-horizontal form-label-left">
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">
        <h2>Características de tren: <strong>Fuerzas</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Masa</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: mass">
                <span class="input-group-addon">Kg</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Masa Inercial</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: inercialMass">
                <span class="input-group-addon">Kg</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Máxima aceleración permitida</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: maxAccelerationAllowed">
                <span class="input-group-addon">m/s<sup>2</sup></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Máxima fuerza inicial permitida</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: maxAccelerationAllowed">
                <span class="input-group-addon">N</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Máxima fuerza de frenado permitida</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: maxAccelerationAllowed">
                <span class="input-group-addon">N</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Velocidad de cambio de regimen del motor</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: maxAccelerationAllowed">
                <span class="input-group-addon">m/s</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Potencia máxima</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: maxAccelerationAllowed">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Velocidad máxima permitida</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: maxAccelerationAllowed">
                <span class="input-group-addon">m/s</span>
              </div>
            </div>
          </div>

          <hr>
          <h4>Parámetros de davis</h4>

          <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-4">A</label>
            <div class="col-md-3 col-sm-3 col-xs-8">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: davisA">
                <span class="input-group-addon"></span>
              </div>
            </div>

            <label class="control-label col-md-1 col-sm-1 col-xs-4">B</label>
            <div class="col-md-3 col-sm-3 col-xs-8">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: davisB">
                <span class="input-group-addon"></span>
              </div>
            </div>

            <label class="control-label col-md-1 col-sm-1 col-xs-4">C</label>
            <div class="col-md-3 col-sm-3 col-xs-8">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: davisC">
                <span class="input-group-addon"></span>
              </div>
            </div>

            <label class="control-label col-md-1 col-sm-1 col-xs-4">D</label>
            <div class="col-md-3 col-sm-3 col-xs-8">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: davisD">
                <span class="input-group-addon"></span>
              </div>
            </div>

            <label class="control-label col-md-1 col-sm-1 col-xs-4">E</label>
            <div class="col-md-3 col-sm-3 col-xs-8">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: davisE">
                <span class="input-group-addon"></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">
        <h2>Características de tren: <strong>Tracción</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Eficiencia del sistema de tracción</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Eficiencia del sistema de frenos</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Umbral de freno eléctrico</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">km/h</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Umbral de freno electromecánico</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">km/h</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="row x_title">
        <h2>Características de tren: <strong>Energía</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Consumo HVAC</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Consumo de auxiliares</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Resistencia del terminal de trenes</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">ohm</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Votaje DC de terminal de trenes</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">V</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">
        <h2>Características de tren: <strong>Estructura</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Largo</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">m</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Número de carros</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Ancho de carro</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">m</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Altura de carro</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">m</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Espesor de paredes del carro</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">m</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Conductividad térmica de pared del carro</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W/m/K</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Conductividad térmica de pared del carro</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W/m/K</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Cabin Volume Factor</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon"></span>
              </div>
            </div>
          </div>
 
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Capacidad de pasajeros del tren</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon"></span>
              </div>
            </div>
          </div>
 
          <hr>
          <h4>Conjunto de puntos HVAC</h4>

          <div class="row">
            <label class="text-center align-center col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4 col-xs-4">T<sub>out</sub>[°C]</label>
            <label class="text-center align-center col-md-4 col-sm-4 col-xs-4">T<sub>in</sub>[°C]</label>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 1</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 2</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 3</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 4</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 5</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center" 
                data-bind="value: ">
            </div>
          </div>
 
          <hr>
 
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">HRS Extra Power</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">On Board Energy Storage System</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">[0 o 1]</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Storage Capacity Weighting</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">[0 a 2]</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">
        <h2>Características de tren: <strong>Modelo de tracción CMM</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
 
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">OBESS charge efficiency</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">OBESS discharge efficiency</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">OBESS Usable energy content</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">kWh</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Maximun discharge power</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Maximum energy saving possible per hour</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Power limit to feed</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="row x_title">
        <h2>Consumo de conexiones</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">L1-S1--L2-S2</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: ">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
