<div class="x_panel">
  <div class="x_title">
    <h2>Subir archivo topológico</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <p>La estructura general del sistema de metro se ha generado. En este paso debe realizar las siguientes tareas:</p>
    <ul>
      <li>Descargar el archivo de detalle del sistema topológico (botón "Descargar plantilla Excel")</li>
      <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
      <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
    </ul>
    {% if scene.step2File %}
    <div class="col-md-12 col-sm-12 col-xs-12">
      <a href="{% url 'scene:downloadStep2File' sceneId=scene.id %}" class="btn btn-success btn-lg btn-block"><i class="fa fa-file-excel-o"></i> Descargar último archivo subido</a>
    </div>
    {% endif %}
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a href="{{ scene.step2Template.url }}" class="btn btn-info btn-lg btn-block btn-excel"><i class="fa fa-file-excel-o fa-5x"></i><br /><h1>Descargar plantilla</h1></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <form id="step2form" action='{% url "scene:uploadTopologicFile" sceneId=scene.id %}' class="dropzone">
      </form>
    </div>
  </div>
</div>
