{% load download_scene_file_button %}
<div class="x_panel">
  <div class="x_title">
    <h2>Subir archivo operacional</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <p>En este paso debe realizar las siguientes tareas:</p>
    <ul>
      <li>Descargar el archivo de detalle operacional (botón "Descargar plantilla Excel")</li>
      <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
      <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
    </ul>
    <div class="col-md-12 col-sm-12 col-xs-12">
      {% download_scene_file_button stepId=5 scene=scene %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a href="{% url 'scene:downloadStepTemplate' stepId=5 sceneId=scene.id %}" class="btn btn-info btn-lg btn-block btn-excel"><i class="fa fa-file-excel-o fa-5x"></i><br /><h1>Descargar plantilla</h1></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <form id="step6form" action='{% url "scene:uploadOperationalFile" sceneId=scene.id %}' class="dropzone">
      </form>
    </div>
  </div>
</div>

