<ul>
  <li>
    <a href="#step-1">
      <i class="fa fa-pencil fa-lg fa-2x"></i><br />
      <small>Variables topológicas</small>
    </a>
  </li>
  <li>
    <a href="#step-2">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i><br />
      <small>Archivo topológico</small>
    </a>
  </li>
  <li>
    <a href="#step-3">
      <i class="fa fa-pencil fa-lg fa-2x"></i><br />
      <small>Variables sistemicas</small>
    </a>
  </li>
  <li>
    <a href="#step-4">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i><br />
      <small>Archivo sistemico</small>
    </a>
  </li>
  <li>
    <a href="#step-5">
      <i class="fa fa-pencil fa-lg fa-2x"></i><br />
      <small>Variables operacionales</small>
    </a>
  </li>
  <li>
    <a href="#step-6">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i><br />
      <small>Archivo operacional</small>
    </a>
  </li>
  <li>
    <a href="#step-7">
      <i class="fa fa-cloud-upload fa-lg fa-2x"></i> (Opcional)<br />
      <small>Archivo de Velocidades</small>
    </a>
  </li>
</ul>
