<br />

<div class="form-horizontal form-label-left">
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">
        <h2>{%  trans "Características de tren:" %} <strong>{% trans "Fuerzas" %}</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" data-bind="with: trainForces">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <field-form params="source: mass, label: 'Masa', unit: 'Kg'"></field-form>
          <field-form params="source: inercialMass, label: 'Masa inercial', unit: 'Kg'"></field-form>
          <field-form params="source: maxAccelerationAllowed, label: 'Máxima aceleración permitida', unit: 'm/s<sup>2</sup>'"></field-form>
          <field-form params="source: maxStartingForceAllowed, label: 'Máxima fuerza inicial permitida', unit: 'N'"></field-form>
          <field-form params="source: maxBrakingForceAllowed, label: 'Máxima fuerza de frenado permitida', unit: 'N'"></field-form>
          <field-form params="source: speedOfMotorRegimeChange, label: 'Velocidad de cambio de regimen del motor', unit: 'm/s'"></field-form>
          <field-form params="source: maxPower, label: 'Potencia máxima', unit: 'W'"></field-form>
          <field-form params="source: maxSpeedAllowed, label: 'Velocidad máxima permitida', unit: 'm/s'"></field-form>

          <hr>
          <h4>Parámetros de davis</h4>

          <div class="form-group" data-bind="component: {
               name: 'small-fields-form',
               params: {fields:[
                 {source: davisParameterA, label: 'A'},
                 {source: davisParameterB, label: 'B'},
                 {source: davisParameterC, label: 'C'},
                 {source: davisParameterD, label: 'D'},
                 {source: davisParameterE, label: 'E'}
               ]}}"></div>

        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="row x_title">
        <h2>{%  trans "Características de tren:" %} <strong>{% trans "Estructura" %}</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" data-bind="with: trainStructure">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <field-form params="source: length, label: 'Largo', unit: 'm'"></field-form>
          <field-form params="source: numberOfCars, label: 'Número de carros'"></field-form>
          <field-form params="source: carWidth, label: 'Ancho de carro', unit: 'm'"></field-form>
          <field-form params="source: carHeight, label: 'Altura de carro', unit: 'm'"></field-form>
          <field-form params="source: vehicleWallThickness, label: 'Espesor de paredes del carro', unit: 'm'"></field-form>
          <field-form params="source: heatConductivityOfTheVehicleWall, label: 'Conductividad térmica de pared del carro', unit: 'W/m/K'"></field-form>
          <field-form params="source: cabinVolumeFactor, label: 'Cabin Volume Factor'"></field-form>
          <field-form params="source: trainPassengerCapacity, label: 'Capacidad de pasajeros del tren'"></field-form>

          <hr>
          <h4>Conjunto de puntos HVAC</h4>

          <div class="row">
            <label class="text-center align-center col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4 col-xs-4">T<sub>out</sub>[°C]</label>
            <label class="text-center align-center col-md-4 col-sm-4 col-xs-4">T<sub>in</sub>[°C]</label>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 1</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point1Tin">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point1Tout">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 2</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point2Tin">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point2Tout">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 3</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point3Tin">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point3Tout">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 4</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point4Tin">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point4Tout">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Punto 5</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point5Tin">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input type="number" class="form-control text-center"
                data-bind="value: point5Tout">
            </div>
          </div>

          <hr>

          <field-form params="source: hrsExtraPower, label: 'HRS Extra Power', unit: 'W'"></field-form>
          <field-form params="source: onBoardEnergyStorageSystem, label: 'On Board Energy Storage System', unit: '[0 o 1]'"></field-form>
          <field-form params="source: storageCapacityWeighting, label: 'Storage Capacity Weighting', unit: '[0 a 2]'"></field-form>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">
        <h2>{%  trans "Características de tren:" %} <strong>{% trans "Traction" %}</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" data-bind="with: trainTraction">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <field-form params="source: tractionSystemEfficiency, label: 'Eficiencia del sistema de tracción', unit: '%'"></field-form>
          <field-form params="source: brakingSystemEfficiency, label: 'Eficiencia del sistema de frenos', unit: '%'"></field-form>
          <field-form params="source: electricalBrakeTreshold, label: 'Umbral de freno eléctrico', unit: 'km/h'"></field-form>
          <field-form params="source: electroMechanicalBrakeThreshold, label: 'Umbral de freno electromecánico', unit: 'km/h'"></field-form>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="row x_title">
        <h2>{%  trans "Características de tren:" %} <strong>{% trans "Energy" %}</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" data-bind="with: trainEnergy">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <field-form params="source: hvacConsumption, label: 'Consumo HVAC', unit: 'W'"></field-form>
          <field-form params="source: auxiliariesConsumption, label: 'Consumo de auxiliares', unit: 'W'"></field-form>
          <field-form params="source: trainsTerminalResistance, label: 'Resistencia del terminal de trenes', unit: 'ohm'"></field-form>
          <field-form params="source: voltageDCTrainsTerminals, label: 'Votaje DC de terminal de trenes', unit: 'V'"></field-form>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="row x_title">
        <h2>{%  trans "Características de tren:" %} <strong>{% trans "Modelo de tracción CMM" %}</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" data-bind="with: trainCMMTractionModel">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <field-form params="source: obessChargeEfficiency, label: 'OBESS charge efficiency', unit: '%'"></field-form>
          <field-form params="source: obessDischargeEfficiency, label: 'OBESS discharge efficiency', unit: '%'"></field-form>
          <field-form params="source: obessUsableEnergyContent, label: 'OBESS Usable energy content', unit: 'kWh'"></field-form>
          <field-form params="source: maxDischargePower, label: 'Maximun discharge power', unit: 'W'"></field-form>
          <field-form params="source: maxEnergySavingPossiblePerHour, label: 'Maximum energy saving possible per hour', unit: 'W'"></field-form>
          <field-form params="source: powerLimitToFeed, label: 'Power limit to feed', unit: 'W'"></field-form>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="row x_title">
        <h2>Consumo de conexiones</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12" data-bind="foreach: connections">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" data-bind="html: description"></label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="input-group">
                <input type="number" class="form-control" data-bind="value: consumption">
                <span class="input-group-addon">W</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>