{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"dropzone/dist/min/dropzone.min.css" %}" rel="stylesheet" />
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
  <link href="{% static "components/smartwizard/dist/css/smart_wizard.css" %}" rel="stylesheet" />
  <link href="{% static "components/smartwizard/dist/css/smart_wizard_theme_dots.css" %}" rel="stylesheet" />
  <style>
    .sw-theme-dots .step-content {
      background-color: inherit;
    }
    .sw-theme-dots > ul.step-anchor > li.active > a {
      color: #34495E;
    }
    .sw-theme-dots > ul.step-anchor > li.done > a {
      color: #169F85;
    }
    .sw-theme-dots > ul.step-anchor > li.done > a:after {
      background: #169F85;
    }
    .sw-theme-dots > ul.step-anchor > li.active > a:after {
      background: #34495E;
    }
  </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}
  {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form
{% endblock %}

{% block content %}
<div id="content-main" class="col-md-12 col-sm-12 col-xs-12">
  <div id="wizard">
    {% include 'scene/stepsHeader.html' %}
    <div>
    <div id="step-1" style="display: none">
      {% include 'scene/step1.html' %}
    </div>
    <div id="step-2" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo topológico</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>La estructura general del sistema de metro se ha generado. En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle del sistema topológico (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="step-3" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Variables sistemicas globales</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        </div>
      </div>
    </div>
    <div id="step-4" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo sistemico</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle sistemico (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="step-5" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Variables operacionales globales</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div id="step-6" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo operacional</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle operacional (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="step-7" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo de velocidades</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle operacional (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"dropzone/dist/min/dropzone.min.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
    <script src="{% static "components/smartwizard/dist/js/jquery.smartWizard.min.js" %}"></script>
  <script src="{% static "components/knockout/dist/knockout.debug.js" %}"></script>
  <script>
  $(document).ready(function(){
    // to show notification
    function showNotificationMessage(status){
      let message = status['message'];
      let title = status['title'];
      let type = status['type'];
      new PNotify({
        title: title,
        type: type,
        text: message,
        nonblock: {
          nonblock: true
        },
        styling: 'bootstrap3',
        mouse_reset: false
      }).get().click(function(){
        this.remove();
      });
    }; 

    console.log({{ scene.lastSuccessfullStep }});

    /**************************************************
    * CUSTOM BINDING HANDLERS
    ***************************************************/
    ko.bindingHandlers.modal = {
      init: function(element, valueAccessor){
        $(element).modal({
            show: false
        });
        
        var value = valueAccessor();
        if(typeof value === 'function'){
          $(element).on('hide.bs.modal', function(){
            value(false);
          });
        }
        ko.utils.domNodeDisposal.addDisposeCallback(element, function(){
          $(element).modal("destroy");
        });
      },
      update: function (element, valueAccessor) {
        var value = valueAccessor();
        if (ko.utils.unwrapObservable(value)) {
          $(element).modal('show');
        } else {
          $(element).modal('hide');
        }
      }
    };
    /**************************************************
    * STEP 1
    ***************************************************/
    let Station = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
    };
    let Depot = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
    };
    let Line = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
      self.stations = ko.observableArray();
      self.depots = ko.observableArray();
    };
    let ConnectionStation = function(){
      let self = this;
      self.id = null;
      self.line = ko.observable();
      self.station = ko.observable();
    }
    let Connection = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
      self.stations = ko.observableArray();
      self.avgHeight = ko.observable();
      self.avgSurface = ko.observable();
      self.description = ko.computed(function(){
        let name = '';
        let arrow = '<i class="fa fa-arrows-h fa-lg" aria-hidden="true"></i>';
        let stationsNumber = self.stations().length;
        for(let i=0;i<stationsNumber;i++){
          try{
            name += self.stations()[i].line().name() + '-' + self.stations()[i].station().name();
          }catch(err){
            // nothing
          }
          if(i+1 !== stationsNumber){
            name += arrow;
          }
        }
        return name;
      });
    };

    let Step1ViewModel = function(){
      let self = this;

      self.lines = ko.observableArray();
      self.depotsQuantity = ko.computed(function(){
        let quantity = 0;
        $.each(self.lines(), function(i, el){
          quantity += el.depots().length;
        });
        return quantity;
      });
      self.connections = ko.observableArray();

      /**************************************************
      * FORM TO ADD LINE
      ***************************************************/
      self.showAddLineDialog = ko.observable(false);
      let AddLineFormLogic = function(){
        let self = this;
        self.lineName = ko.observable(null);
        self.stationsQuantity = ko.observable(0);
      };
      self.addLineFormLogic = new AddLineFormLogic();
      self.openAddLineForm = function(){
        const LINE_NAME_PREFIX = 'L';
        let defaultLineName = LINE_NAME_PREFIX + (self.lines().length + 1);
        self.addLineFormLogic.lineName(defaultLineName);
        self.addLineFormLogic.stationsQuantity(1);
        self.showAddLineDialog(true);
      };
      self.addLine = function(){
        const STATION_NAME_PREFIX = 'S';

        if(self.isValidLineForm()){
          let addForm = self.addLineFormLogic;
          let line = new Line(addForm.lineName());
          for(let i=0;i<addForm.stationsQuantity();i++){
            let stationName = STATION_NAME_PREFIX + (i + 1);
            let station = new Station(stationName);
            line.stations.push(station);
          }
          self.lines.push(line);
          self.showAddLineDialog(false);
        }
      }
      self.removeLine = function(){
        // delete connection if has an station of the line
        let deleteConnection = false;
        for(let i=0;i<self.connections().length; i++){
          let connection = self.connections()[i];
          for(let j=0; j<connection.stations().length; j++){
            let station = connection.stations()[j];
            if(station.line() === this){
              deleteConnection = true;
            }
          }
          if(deleteConnection){
            self.connections.remove(connection);
            break;
          }
        }
        self.lines.remove(this);
      };

      /**************************************************
      * FORM TO EDIT STATIONS
      ***************************************************/
      self.showEditStationsDialog = ko.observable(false);
      self.selectedStations = ko.observableArray();
      self.openEditStationsForm = function(){
        self.selectedStations.removeAll();
        let stations = this.stations();
        for(let i=0; i<stations.length; i++){
          self.selectedStations.push(stations[i]);
        }
        self.showEditStationsDialog(true);
      }
      /**************************************************
      * FORM TO ADD CONNECTIONS
      ***************************************************/
      self.showAddConnectionDialog = ko.observable(false);
      let addConnectionFormLogic = function(){
        let self = this;
        self.connectionName = ko.observable();
        self.connectionStations = ko.observableArray();
        self.avgHeight = ko.observable();
        self.avgSurface = ko.observable();
        self.addConnectionStation = function(){
          self.connectionStations.push(new ConnectionStation())
        };
        self.deleteConnectionStation = function(){
          self.connectionStations.remove(this);
        };
      };
      self.addConnectionFormLogic = new addConnectionFormLogic();
      self.openAddConnectionDialog = function(){
        let addForm = self.addConnectionFormLogic;
        addForm.connectionName('');
        addForm.avgHeight('');
        addForm.avgSurface('');
        addForm.connectionStations.removeAll();
        self.showAddConnectionDialog(true);
      };
      self.addConnection = function(){
        let addForm = self.addConnectionFormLogic;
        if(self.isValidConnectionForm()){
          let connection = new Connection(addForm.connectionName());
          connection.avgHeight(addForm.avgHeight());
          connection.avgSurface(addForm.avgSurface());
          for(let i=0;i<addForm.connectionStations().length;i++){
            connection.stations.push(addForm.connectionStations()[i]);
          }

          self.connections.push(connection);
          self.showAddConnectionDialog(false);
        }
      };
      self.removeConnection = function(){
        self.connections.remove(this);
      };

     
      /**************************************************
      * FORM TO ADD DEPOTS
      ***************************************************/
      self.showAddDepotDialog = ko.observable(false);
      let addDepotFormLogic = function(){
        let self = this;
        self.name = ko.observable();
        self.line = ko.observable();

        self.updateDefaultDepotName = function(newLine){
          let line = newLine || self.line();
          if(line === undefined) return;
          const DEPOT_NAME_PREFIX = 'D';
          let defaultDepotName = DEPOT_NAME_PREFIX + (line.depots().length + 1);
          self.name(defaultDepotName);
        }
        // each time line is updated
        self.line.subscribe(self.updateDefaultDepotName);
      };
      self.addDepotFormLogic = new addDepotFormLogic();
      self.addDepot = function(){
        if(self.isValidDepotForm()){
          let depot = new Depot(self.addDepotFormLogic.name());
          self.addDepotFormLogic.line().depots.push(depot);
          self.showAddDepotDialog(false);
          self.addDepotFormLogic.updateDefaultDepotName();
        }
      };
      self.removeDepot = function(){
        let depot = this;
        $.each(self.lines(), function() { 
          this.depots.remove(depot) 
        });
        self.addDepotFormLogic.updateDefaultDepotName();
      };

      /**************************************************
      * FORMS VALIDATION
      ***************************************************/
      self.isValidLineForm = function(){
        let addForm = self.addLineFormLogic;
 
        let reasons = [];       
        let isValidLineName = true;
        let isValidStationNumber = true;

        let name = addForm.lineName();
        let stationNumber = addForm.stationsQuantity();

        if(name == null || name == '' || !name.length){
          reasons.push('El nombre no puede ser vacío.');
          isValidLineName = false;
        }
        if(name !== null){
          if(name.length > 50){
            reasons.push('El nombre no puede tener un largo mayor a 50 caracteres.');
            isValidLineName = false;
          }

          for(let i=0; i<self.lines().length; i++){
            if(name === self.lines()[i].name()){
              reasons.push('Ya existe una línea con ese nombre.');
              isValidLineName = false;
            }
          }
        }
 
        if(isNaN(stationNumber) || stationNumber <= 0 || 200 < stationNumber){
          reasons.push('El número de estaciones debe estar entre 1 y 200.');
          isValidStationNumber = false;
        }

        if(isValidLineName && 
           isValidStationNumber){
          return true;
        }

        self.showWarningList(reasons);
        return false;
      };

      self.isValidDepotForm = function(){
        let addForm = self.addDepotFormLogic;

        let reasons = [];
        let isValidName = true;

        let name = addForm.name();

        if(name == null || name == '' || !name.length){
          reasons.push('El nombre no puede ser vacío.');
          isValidName = false;
        }
        if(name !== null){
          if( name.length > 50){
            reasons.push('El nombre no puede tener un largo mayor a 50 caracteres.');
            isValidName = false;
          }
          for(let i=0; i<self.lines().length; i++){
            if(addForm.line().name() === self.lines()[i].name()){
              for(let j=0; j<self.lines()[i].depots().length; j++){
                if(name === self.lines()[i].depots()[j].name()){
                  reasons.push('Ya existe un depósito con ese nombre.');
                  isValidName = false;
                }
              }
            }
          }
        }

        if(isValidName){
          return true;
        }

        self.showWarningList(reasons);
        return false;
      };

      self.isValidConnectionForm = function(){
        let addForm = self.addConnectionFormLogic;

        let reasons = [];
        let isValidStationQuantity = true;
        let isValidConnectionName = true;
        let isValidAvgHeight = true;
        let isValidAvgSurface = true;
        let isValidLines = true;

        let name = addForm.connectionName();
        let stationNumber = addForm.connectionStations().length;
        let avgHeight = addForm.avgHeight();
        let avgSurface = addForm.avgSurface();
        let stations = addForm.connectionStations();

        if(name == null || name == '' || !name.length){
          reasons.push('El nombre no puede ser vacío.');
          isValidConnectionName = false;
        }
        if(name !== null){
          if( name.length > 50){
            reasons.push('El nombre no puede tener un largo mayor a 50 caracteres.');
            isValidConnectionName = false;
          }
          for(let i=0; i<self.connections().length; i++){
            if(name === self.connections()[i].name()){
              reasons.push('Ya existe una conexión con ese nombre.');
              isValidConnectionName = false;
            }
          }
        }
        
        if(stationNumber < 2){
          reasons.push('La conexión debe tener una o más estaciones.');
          isValidStationQuantity = false;
        }

        if(isNaN(avgHeight) || avgHeight<0 && 1000<avgHeight){
          reasons.push('La altura promedio debe ser un número entre 0 y 1.000 m.');
          isValidAvgHeight = false;
        }

        if(isNaN(avgSurface) || avgSurface<0 && 1000000<avgSurface){
          reasons.push('La altura promedio debe ser un número entre 0 y 1.000.000 m<sup>2</sup>.');
          isValidAvgHeight = false;
        }

        let set = new Set();
        for(let i=0;i<stations.length; i++){
          set.add(stations[i].line().name());
        }
        if(set.size !== stationNumber){
          reasons.push('Una línea no puede tener más de una estación en una conexión.');
          isValidLines = false;
        }

        if(isValidConnectionName && 
           isValidStationQuantity && 
           isValidAvgHeight && 
           isValidAvgSurface && 
           isValidLines){
          return true;
        }

        self.showWarningList(reasons);
        return false;
      }
 
      /**************************************************
      * VALIDATION LOGIC
      ***************************************************/
      self.showWarningList = function(reasons){
        let message = 'Hemos detectado los siguientes problemas:';
        message += '<ul>';
        for(let i=0;i<reasons.length;i++){
          message += '<li>' + reasons[i] + '</li>';
        }
        message += '</ul>';

        self.showMessage(message, 'Advertencia', 'warning');
      }

      self.showMessage = function(message, title, type){
        let msg = {
          message: message,
          title: title,
          type: type
        };
        showNotificationMessage(msg);
      };

      /**************************************************
      * EXTERNAL VALIDATION LOGIC
      ***************************************************/
      self.serialize = function(){
        let serialize = {
          lines: this.lines(),
          connections: this.connections(),
        };
        return ko.toJSON(serialize);
      };

      self.isValid = function(){
        let msg = {
          message: '',
          title: 'Error',
          type: 'error'
        };

        // exist lines
        if(self.lines().length == 0){
          msg['message'] += '- Debe ingresar una o más líneas.<br />';
        }

        if(msg['message'] !== ''){
          showNotificationMessage(msg);
          return false;
        }
        return true;
      };
    
      self.update = function(data){
        let lines = data['lines'];
        let connections = data['connections'];

        self.connections.removeAll();
        self.lines.removeAll();
        
        let stationList = {};

        lines.forEach(function(el, i){
          let line = new Line();
          line.name(el.name);
          line.id = el.id;
    
          el.stations.forEach(function(el, i){
            let station = new Station();
            station.name(el.name);
            station.id = el.id;
            line.stations.push(station);

            stationList[el.id] = {
              line: line,
              station: station
            }
          });
          el.depots.forEach(function(el, i){
            let depot = new Depot();
            depot.name(el.name);
            depot.id = el.id;
            line.depots.push(depot);
          });
          self.lines.push(line);
        });
        
        connections.forEach(function(el, i){
          let connection = new Connection(el.name);
          connection.id = el.id;
          connection.avgHeight(el.avgHeight);
          connection.avgSurface(el.avgSurface);

          el.stations.forEach(function(connStation, i){
            let connectionStation = new ConnectionStation();
            connectionStation.id = connStation.id;
            connectionStation.line(stationList[connStation.station.id].line);
            connectionStation.station(stationList[connStation.station.id].station);

            connection.stations.push(connectionStation);
          });
          self.connections.push(connection);
        });
      }
    }

    /**************************************************
    * WIZARD LOGIC
    ***************************************************/

    // viewModels to manage each step
    let step1 = new Step1ViewModel();

    // Initialize the leaveStep event
    $("#wizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
       return true;
    });

    // Initialize the showStep event
    $("#wizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {

      console.log("You are on step "+stepNumber+" now " + stepPosition);

      switch(stepNumber){
        case 0:
          let step1DOM = document.getElementById('step-1');
          let viewModel = ko.dataFor(step1DOM);
          if(viewModel === undefined){
            ko.applyBindings(step1, step1DOM);
            viewModel = ko.dataFor(step1DOM);
          }
          //retrieve data from server
          const URL = '{% url "scene:getStep1Data" sceneId=scene.id %}';
          $.get(URL, function(data){
            viewModel.update(data);
            console.log('data retrieved succesfully');
          });

          break;
      }
    });
 
    let nextLogic = function(){
      let currentStep = parseInt(window.location.hash.split('-')[1]);

      switch(currentStep){
        case 1:
          let url = '{% url "scene:validation" stepId=1 sceneId=scene.id %}';
          if(step1.isValid()){
            let data = step1.serialize();
            $.post(url, data, function(answer){
              // success
              if(answer.status.code == 200){
                $('#wizard').smartWizard('next');
              }
              showNotificationMessage(answer.status);
            });
          }
          break;
        case 2:
          // ask to server if file was uploaded
          break;
        case 3:
          break;
        case 4:
          // ask to server if file was uploaded
          break;
        case 5:
          // ask to server if file was uploaded
          break;
        case 6:
          // ask to server if file was uploaded
          break;
        case 7:
          // ask to server if file was uploaded
          break;
      }
    };
    let finalButton = $('<button></button>').text('Finalizar')
                      .addClass('btn btn-dark')
                      .on('click', function(){ 
                        alert('Finish button click');
                        console.log(this);
                      });
    let prevButton = $('<button></button>').text('Anterior')
                      .addClass('btn btn-default')
                      .on('click', function(){ 
                        $('#wizard').smartWizard('prev');
                      });
    let nextButton = $('<button></button>').text('Siguiente')
                      .addClass('btn btn-default')
                      .css('padding-right', '5px')
                      .on('click', nextLogic);
    // set wizard
    $('#wizard').smartWizard({
      selected: {{ scene.lastSuccessfullStep }},
      autoAdjustHeight: false,
      markAllPreviousStepsAsDone: true,
      theme: 'dots',
      toolbarSettings: {
        showNextButton: false,
        showPreviousButton: false,
        toolbarPosition: 'top',
        toolbarExtraButtons: [
          prevButton,
          nextButton,
          finalButton
        ],
      },
    });  
  });
  </script>
{% endblock %}
