{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"dropzone/dist/min/dropzone.min.css" %}" rel="stylesheet" />
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
  <link href="{% static "components/smartwizard/dist/css/smart_wizard.css" %}" rel="stylesheet" />
  <link href="{% static "components/smartwizard/dist/css/smart_wizard_theme_dots.css" %}" rel="stylesheet" />
  <style>
    .sw-theme-dots .step-content {
      background-color: inherit;
    }
    .sw-theme-dots > ul.step-anchor > li.active > a {
      color: #34495E;
    }
    .sw-theme-dots > ul.step-anchor > li.done > a {
      color: #169F85;
    }
    .sw-theme-dots > ul.step-anchor > li.done > a:after {
      background: #169F85;
    }
    .sw-theme-dots > ul.step-anchor > li.active > a:after {
      background: #34495E;
    }
  </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}
  {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form
{% endblock %}

{% block content %}
<div id="content-main" class="col-md-12 col-sm-12 col-xs-12">
  <div id="wizard">
    {% include 'scene/stepsHeader.html' %}
    <div>
    <div id="step-1" style="display: none">
      {% include 'scene/step1.html' %}
    </div>
    <div id="step-2" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo topológico</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>La estructura general del sistema de metro se ha generado. En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle del sistema topológico (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="step-3" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Variables sistemicas globales</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        </div>
      </div>
    </div>
    <div id="step-4" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo sistemico</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle sistemico (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="step-5" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Variables operacionales globales</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div id="step-6" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo operacional</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle operacional (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="step-7" style="display: none">
      <div class="x_panel">
        <div class="x_title">
          <h2>Subir archivo de velocidades</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>En este paso debe realizar las siguientes tareas:</p>
          <ul>
            <li>Descargar el archivo de detalle operacional (botón "Descargar plantilla Excel")</li>
            <li>Completar el archivo descargado en el paso anterior respetando la estructura que allí se presenta</li>
            <li>Una vez completado, arrastrar el archivo al cuadro de la derecha</li>
          </ul>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-file-excel-o fa-5x"></i><br />Descargar plantilla<br />Excel</button>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action='uploadTopologicFile' class="dropzone">
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"dropzone/dist/min/dropzone.min.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
    <script src="{% static "components/smartwizard/dist/js/jquery.smartWizard.min.js" %}"></script>
  <script src="{% static "components/knockout/dist/knockout.debug.js" %}"></script>
  <script>
  $(document).ready(function(){
    // to show notification
    function showMessage(status){
      let message = status['message'];
      let title = status['title'];
      let type = status['type'];
      new PNotify({
        title: title,
        type: type,
        text: message,
        nonblock: {
          nonblock: true
        },
        styling: 'bootstrap3',
        mouse_reset: false
      }).get().click(function(){
        this.remove();
      });
    }; 

    // set wizard
    $('#wizard').smartWizard({
      selected: {{ scene.lastSuccessfullStep }},
      labelNext:'Siguiente', 
      labelPrevious:'Anterior',
      labelFinish:'Finalizar',  
      autoAdjustHeight: false,
      theme: 'dots',
      lang: {
        next: 'Siguiente',
        previous: 'Anterior',
      },
      toolbarSettings: {
        toolbarPosition: 'top',
        toolbarExtraButtons: [
          $('<button></button>').text('Finalizar')
            .addClass('btn btn-dark')
           .on('click', function(){ 
             alert('Finish button click');
             console.log(this);
           })
        ],
      },
    });
   
    // Initialize the leaveStep event
    $("#wizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
       switch(stepNumber){
         case 0:
           let url = '{% url "scene:validation" stepId=1 sceneId=scene.id %}';
           let data = step1.serialize();
           console.log(data);
           $.post(url, data, function(answer){
             // success
             if(answer.status.code == 200){
               $('#wizard').smartWizard('next');
             }
             showMessage(answer.status);
           })
           break;
       }
       return false;
    });
      
    // Initialize the showStep event
    $("#wizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
      alert("You are on step "+stepNumber+" now " + stepPosition);
    });
    console.log({{ scene.lastSuccessfullStep }});

    /**************************************************
    * CUSTOM BINDING HANDLERS
    ***************************************************/
    ko.bindingHandlers.modal = {
      init: function(element, valueAccessor){
        $(element).modal({
            show: false
        });
        
        var value = valueAccessor();
        if(typeof value === 'function'){
          $(element).on('hide.bs.modal', function(){
            value(false);
          });
        }
        ko.utils.domNodeDisposal.addDisposeCallback(element, function(){
          $(element).modal("destroy");
        });
      },
      update: function (element, valueAccessor) {
        var value = valueAccessor();
        if (ko.utils.unwrapObservable(value)) {
          $(element).modal('show');
        } else {
          $(element).modal('hide');
        }
      }
    };
    /**************************************************
    * STEP 1
    ***************************************************/
    let Station = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
    };
    let Depot = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
    };
    let Line = function(name){
      let self = this;
      self.id = null;
      self.name = ko.observable(name);
      self.stations = ko.observableArray();
      self.depots = ko.observableArray();
    };
    let Union = function(){
      let self = this;
      self.id = null;
      self.line1 = ko.observable(null);
      self.station1 = ko.observable(null);
      self.line2 = ko.observable(null);
      self.station2 = ko.observable(null);
      self.avgHeight = ko.observable();
      self.avgSurface = ko.observable();
      self.name = ko.computed(function(){
        try{
          let prefix = self.line1().name() + '-' + self.station1().name();
          let sufix = self.line2().name() + '-' + self.station2().name();
          let arrow = '<i class="fa fa-arrows-h fa-lg" aria-hidden="true"></i>';
          return '(' + prefix + arrow + sufix + ')';
        }catch(err){
          return 'no name';
        }
      });
    };
    let Connection = function(name){
      let self = this;
      self.name = ko.observable(name);
      self.unions = ko.observableArray();
      self.unionsName = ko.computed(function(){
        let name = '';
        for(let i=0;i<self.unions().length;i++){
          name += self.unions()[i].name();
        }
        return name;
      });
    };

    let Step1ViewModel = function(){
      let self = this;

      self.lines = ko.observableArray();
      self.depotsQuantity = ko.computed(function(){
        let quantity = 0;
        $.each(self.lines(), function(i, el){
          quantity += el.depots().length;
        });
        return quantity;
      });
      self.connections = ko.observableArray();

      /**************************************************
      * FORM TO ADD LINE
      ***************************************************/
      self.showAddLineDialog = ko.observable(false);
      self.lineName = ko.observable(null);
      self.stationsQuantity = ko.observable(0);
      self.openAddLineForm = function(){
        const LINE_NAME_PREFIX = 'L';
        let defaultLineName = LINE_NAME_PREFIX + (self.lines().length + 1);
        self.lineName(defaultLineName);
        self.stationsQuantity(1);
        self.showAddLineDialog(true);
      };
      self.removeLine = function(){
        self.lines.remove(this);
      };
      self.addLine = function(){
        const STATION_NAME_PREFIX = 'S';
        let line = new Line(self.lineName());
        for(let i=0;i<self.stationsQuantity();i++){
          let stationName = STATION_NAME_PREFIX + (i + 1);
          let station = new Station(stationName);
          line.stations.push(station);
        }
        self.lines.push(line);
        self.showAddLineDialog(false);
      }
      /**************************************************
      * FORM TO EDIT STATIONS
      ***************************************************/
      self.showEditStationsDialog = ko.observable(false);
      self.selectedStations = ko.observableArray();
      self.openEditStationsForm = function(){
        self.selectedStations.removeAll();
        let stations = this.stations();
        for(let i=0; i<stations.length; i++){
          self.selectedStations.push(stations[i]);
        }
        self.showEditStationsDialog(true);
      }
      /**************************************************
      * FORM TO ADD CONNECTIONS
      ***************************************************/
      self.showAddConnectionDialog = ko.observable(false);
      self.connectionName = ko.observable();
      self.unions = ko.observableArray();
      self.openAddConnectionDialog = function(){
        self.connectionName(null);
        self.unions.removeAll();
        self.showAddConnectionDialog(true);
      };
      self.addUnion = function(){
        self.unions.push(new Union());
      };
      self.deleteUnion = function(){
        self.unions.remove(this);
      };
      self.addConnection = function(){
        let connection = new Connection(self.connectionName());
        for(let i=0;i<self.unions().length;i++){
          connection.unions.push(self.unions()[i]);
        }
        self.connections.push(connection);
        self.showAddConnectionDialog(false);
      };
      self.removeConnection = function(){
        self.connections.remove(this);
      };
      
      /**************************************************
      * FORM TO ADD DEPOTS
      ***************************************************/
      self.showAddDepotDialog = ko.observable(false);
      self.depotName = ko.observable();
      self.depotLine = ko.observable();
      // each time line is updated
      let updateDefaultDepotName = function(newLine){
        let line = newLine || self.depotLine();
        if(line === undefined) return;
        const DEPOT_NAME_PREFIX = 'D';
        let defaultDepotName = DEPOT_NAME_PREFIX + (line.depots().length + 1);
        self.depotName(defaultDepotName);
      }
      self.depotLine.subscribe(function(newLineSelected) {
        updateDefaultDepotName(newLineSelected);
      });
      self.addDepot = function(){
        let depot = new Depot(self.depotName());
        self.depotLine().depots.push(depot);
        self.showAddDepotDialog(false);
        updateDefaultDepotName();
      };
      self.removeDepot = function(){
        let depot = this;
        $.each(self.lines(), function() { 
          this.depots.remove(depot) 
        });
        updateDefaultDepotName();
      };

      self.serialize = function(){
        let serialize = {
          lines: this.lines(),
          connections: this.connections(),
        };
        return ko.toJSON(serialize);
      }
    }
    step1 = new Step1ViewModel();
    ko.applyBindings(step1, document.getElementById('step-1'));
  });
  </script>
{% endblock %}
