{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"dropzone/dist/min/dropzone.min.css" %}" rel="stylesheet" />
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
    <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  {% endwith %}
  <link href="{% static "components/smartwizard/dist/css/smart_wizard.css" %}" rel="stylesheet" />
  <link href="{% static "components/smartwizard/dist/css/smart_wizard_theme_dots.css" %}" rel="stylesheet" />
  <style>
    .sw-theme-dots .step-content {
      background-color: inherit;
    }
    .sw-theme-dots > ul.step-anchor > li.active > a {
      color: #34495E;
    }
    .sw-theme-dots > ul.step-anchor > li.done > a {
      color: #169F85;
    }
    .sw-theme-dots > ul.step-anchor > li.done > a:after {
      background: #169F85;
    }
    .sw-theme-dots > ul.step-anchor > li.active > a:after {
      background: #34495E;
    }

    .dropzone {
      min-height: 196px;
    }
    .btn-excel {
      min-height: 196px;
    }
</style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}
  {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form
{% endblock %}

{% block content %}
<div id="content-main" class="col-md-12 col-sm-12 col-xs-12">
  <div id="wizard">
    {% include 'scene/stepsHeader.html' %}
    <div>
    <div id="step-1" style="display: none">
      {% include 'scene/step0.html' %}
    </div>
    <div id="step-2" style="display: none">
      {% include 'scene/step1.html' %}
    </div>
    <div id="step-3" style="display: none">
      {% include 'scene/step2.html' %}
    </div>
    <div id="step-4" style="display: none">
      {% include 'scene/step3.html' %}
    </div>
    <div id="step-5" style="display: none">
      {% include 'scene/step4.html' %}
    </div>
    <div id="step-6" style="display: none">
      {% include 'scene/step5.html' %}
    </div>
    <div id="step-7" style="display: none">
      {% include 'scene/step6.html' %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"dropzone/dist/min/dropzone.min.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
    <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
  {% endwith %}
  <script src="{% static "components/smartwizard/dist/js/jquery.smartWizard.min.js" %}"></script>
  <script src="{% static "components/knockout/dist/knockout.debug.js" %}"></script>
  <script src="{% static "components/js-cookie/src/js.cookie.js" %}"></script>
  <script src="{% static "components/spin.js/spin.min.js" %}"></script>
  <script src="{% static "js/user.notification.js" %}"></script>
  <script src="{% static "js/dropzone.conf.js" %}"></script>
  <script src="{% static "js/knockout.components.js" %}"></script>
  <script src="{% static "js/wizard.step0.js" %}"></script>
  <script src="{% static "js/wizard.step2.js" %}"></script>
  <script src="{% static "js/wizard.step4.js" %}"></script>
  <script src="{% static "js/wizard.js" %}"></script>
{% endblock %}
